#topo {
    width: 300px;

}




#login-cliente {
    
    width: 500px;
    background-color: red;
    margin: 30px;
    border: 5px blue;
    
}
body {

    font-family: sans-serif;
    font-size: 16px;
}